body,
html {
    margin: 0;
    padding: 0;
    height: 5000px;
    overflow-x: hidden;
    background-color: black;
}

.header {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;

}

main {
    display: flex;
    flex-direction: column;
    /* Stack images vertically */
    justify-content: flex-start;
    /*align-items: center;*/
    gap: 30px;
    /* Space between images, optional */
}

.square-box {
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    padding-top: 10%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: Arial, sans-serif;
    opacity: 0;
    animation: fadeIn 5s ease-in-out forwards;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        /* 透明 */
    }

    100% {
        opacity: 1;
        /* 不透明 */
    }


}